.Home{
    color: red;
}
#Main{
    margin-top: 100px;
}
#Card:hover{
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}
Card{
    border-radius: 10px;

}
.icon{
    text-align: right;
}